.card {
    width: 100%;
    
    
    display: grid;
    grid-template-rows: minmax(100%, 1fr);
    grid-template-areas: "stack";
    
    overflow: hidden;

    border-radius: 5px;
    }
    
    .card > img, 
    .card > figcaption {
    grid-area: stack;
    }
    
    
    .card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
    .card > figcaption {
    grid-area: stack;
    background-color: #242424e0;
    transform: translateY(calc(100% - 4rem));
    transition: transform 600ms;
    }
    
    .card > figcaption > h3 {
    height: 4rem;
    color: white;
    text-align: center;
    }
    
    .card > figcaption > h3 > p, p {
    color: black;
    padding: 5%;
    background-color: beige;
    margin: 5px;
    border-radius: 5px;
    }
    
    p > a {
    color: gray;
    }
    
    .card:hover figcaption {
    transform: none;
    }
    
    cite > a {
        color: gray;
    }